.nav {
  background-color: #ddd;
  margin: 0;
  padding: 0;
  height: 44px;
  list-style: none;
  background-color: white;
  font-size: 15px;
  border-bottom: 1px solid #e3e5e9 ;
}
.nav:after {
  content: '';
  width: 100%;
  height: 1px;
  clear: both;
  position: absolute;
  border-bottom: 1px solid #e3e5e9;
  left: 0;
  bottom: 0;
  transform: scaleY(0.5);
  -webkit-transform: scaleY(0.5);
}
.nav li {
  width: 33.33333%;
  display: block;
  float: left;
  height: 44px;
  position: relative;
  line-height: 50px;
  text-align: center;
}
.nav li.choice {
  color: #00a6e2;
}
.nav li.choice:after {
  width: 60%;
  height: 1px;
  border-bottom: 2px solid #00a6e2;
  position: absolute;
  bottom: 1px;
  left: 50%;
  content: '';
  margin-left: -30%;
}
.address {
  display: flex;
  transition-duration: 0.3s;
}
.address .item {
  flex: 1;
  width: 1%;
  padding: 0;
  margin: 0;
  list-style: none;
  float: left;
  width: 25%;
  height: 100%;
  overflow: auto;
  font-size: 15px;
  color: #232326;
}
.address .item li {
  height: 44px;
  line-height: 44px;
  padding-left: 10px;
  position: relative;
  overflow: hidden;
}
.address .item li:after {
  content: '';
  width: 100%;
  height: 1px;
  position: absolute;
  border-bottom: 1px solid #e3e5e9;
  left: 0;
  bottom: 0;
  transform: scaleY(0.5);
  -webkit-transform: scaleY(0.5);
}
