.container1 {
	mt 12
}

.bg {
	bg #f0eff5
	height 100%
}

.avatarWrap {
	h 85
}

.avatar {
	w 56
	h 56
	br 2
}

.listw {
	mt 20
}

.logoutBtn {
	mt 20
	h 42
	bc #ddd
	border-width 1px 0 1px 0
	border-style solid
	display block
	text-align center
	line-height 42px
	fs 16
	color #000
	bg #fff
	cursor pointer
}