.root {
  display: flex;
  flex-direction: column;
  height: 100%;
  background: #f5f5f5;
}
.bg {
  position: absolute;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 100%;
}
.zg {
  position: absolute;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 100%;
  background-color: red;
  transition: all .5s;
  -moz-transition: all .5s;
  /* Firefox 4 */
  -webkit-transition: all .5s;
  /* Safari 和 Chrome */
  -o-transition: all .5s;
  /* Opera */
  z-index: 9999;
}
.scroll {
  flex: 1;
  overflow-y: scroll;
}
.scroll::-webkit-scrollbar {
  width: 0px;
}
.scroll::-webkit-scrollbar-thumb {
  border-radius: 2px;
  background: #999999;
}
.buyInput {
  clear: both;
  background-color: #ffffff;
  padding: 15px;
}
.buyInput p {
  color: #898989;
  font-size: 16px;
}
.buyInput p span {
  font-size: 12px;
  margin-left: 8px;
}
.infomation {
  background: #fff;
  padding: 15px 15px 15px 15px;
  display: flex;
}
.infomationItem {
  flex: 1;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  text-align: center;
}
.infomationItem p:first-child {
  color: #898989;
  font-size: 16px;
}
.infomationItem p:first-child > span {
  font-size: 12px;
  margin-left: 8px;
}
.infomationItem p:nth-child(2) {
  margin-top: 10px;
  font-size: 18px;
  color: #000;
}
.infomationItemLeft {
  text-align: left;
}
.infomationItemRight {
  text-align: right;
}
.buyDiv {
  padding: 17px 15px 15px 15px;
  background: #fff;
  color: #000;
  font-size: 16px;
}
.buyDiv .buyTip {
  font-size: 12px;
}
.expectIncome {
  background-color: #fff;
  padding: 0 0 0 15px;
  height: 44;
}
.expectIncome .wrap {
  border-top: 1px solid #ddd;
  display: flex;
}
.expectIncome .name {
  color: #888;
  line-height: 44px;
}
.expectIncome .profit {
  color: #ff7701;
  line-height: 44px;
  flex: 1;
  text-align: right;
  padding-right: 15px;
}
.payMoney {
  border-bottom: 1px solid #eee;
  margin-top: 20px;
  background: #fff;
  padding: 15px 15px 35px 15px;
  display: flex;
  margin-bottom: 20px;
}
.payMoney > p:nth-child(1) {
  line-height: 20px;
  font-size: 14px;
  color: #898989;
  flex: 1;
}
.payMoney > p:nth-child(2) {
  font-size: 25px;
  color: #ff7701;
}
.payBtn {
  padding: 10px 15px 0px 15px;
  background: #f5f5f5;
}
.payBtn > p {
  color: #888;
  font-size: 14;
}
.payBtn > div {
  margin-top: 30px;
  height: 54px;
  border-radius: 3px;
  background: #49a7de;
  line-height: 50px;
  font-size: 16px;
  color: #fff;
  text-align: center;
}
