.container{
  background-color:#f1eff5;
  height:100%;
  position:absolute;
  .tip{
    font-size:14px;
    padding-left 15px;
    padding-right 15px
    color:#777;
    line-height:20px;
    margin 8px auto;
  }
  .bottom{
    margin 15px auto;

  }
}