.container{
  background-color:#f1eff5;
  height:100%;
  position:absolute;
  .tip{
    font-size:14px;
    padding-left 15px;
    padding-right 15px
    color:#777;
    line-height:20px;
    margin 8px auto;
  }
  .bottom{
    margin 15px auto;

  }
  .textContent{
    padding-left 15px
    padding-top 10px
    padding-right 6px
    color #888
    font-size 14px
  }
  .protocol {
    color #00a6e2
    //margin 10px 15px 0
  }
}