.verifyCode {
	w 122
	h 44
	bg #00a7e1
	display flex
	align-items center
}

.verifyCodeDisable {
	bg #45c4f0
	bc #45c4f0
	border-width 0
}

.verifyCodeWrap {
	flex 1
}

.text {
	fs 14
	text-align center
	color #fff
	display block
	width 100%
}

.textDisable {
	color #87dfff
}