.root {
  h 100%
  button {
    w 300
    h 200
    bg #ee996c
    border 0
    center(full)
  }
}

.dialog {
  h 100
  w 200
  bg #97d1bc
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 25px
}
