.myContent{
    position: absolute;
    width: 100%;
    height: 100%;
    overflow:  auto;
    margin-bottom: 40px;
    -webkit-overflow-scrolling:touch;
}
.myContent::-webkit-scrollbar{
  display: none;
}
.listTitle{
    color: #000;
}
.header{
    background: #fff;
    height: 50px;
    width: 100%;
    text-align: center;
    line-height: 50px;
    font-size: 17px;
    color: #333;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 10;
}
body{
    background: #F0EFF5;
}
.userAccount{
    width: 100%;
    overflow: hidden;
    position: relative;
    z-index: 5;
    background: #fff;
    border-bottom: 1px solid #E4E4E4;
    border-top: 1px solid #E4E4E4;
    .settingBg{
        position: absolute;
        width: 80px;
        right: 0;
        height: 34px;
        border-bottom-left-radius:17px;
        border-top-left-radius:17px;
        background-color: #000;
        opacity: .3;
        top:36px
    }
    .setting{
        position: absolute;
        width: 80px;
        right: 0;
        height: 34px;
        top:36px;
        line-height: 34px;
        color: #fff;
        font-size: 15px;
        img{
            float: left;
            width:18px;
            margin-top: 7px;
            margin-left: 20px;
            margin-right: 6px;
        }
    }
}
.userAccount .userBg{
    width: 100%;
    display: block;
}
.userAccount .userInfoBg{
    width: 100%;
    height: 60px;
    position: absolute;
    background-color: #000;
    bottom: 0;
    opacity: .3;
}
.userAccount .userInfo{
    width: 100%;
    height: 60px;
    position: absolute;
    bottom: 0;
    .name{
        color: #fff;
        text-align: center;
        margin: 8px auto;
    }
    .vip{
        //display: flex;
        text-align: center;
        div{
            display: inline-block;
            font-size: 12px;
            color: #fff;
        }
        .left{
            position: relative;
            width: 20px;
            height: 12px;
            img{
                position: absolute;
                width: 30px;
                right:0;
                top:-2px
            }
        }
        .right{
            padding-left: 6px;
            border-left: 1px solid #fff;
        }
    }
}

.headImg{
    width: 55px;
    float: left;
}
.headImg img{
    width: 55px;
    height: 55px;
}
.nameCenter{
    float: left;
    height: 55px;
    margin-left: 15px;
}
.nameCenter p{
    font-size: 20px;
    color: #898989;
    padding: 0;
    margin: 0;
    margin-top: 8px;
    font-family: Hiragino Sans GB, Arial, Helvetica, "宋体", sans-serif;
    font-weight: normal;
}
.nameCenter a{
    font-size: 12px;
    color: #00A6E2;
    text-decoration: none;
    padding: 0;
    position: relative;
    top: -8px;
}
.nameCenter a img{
    display: inline-block;
    position: relative;
    top: 5px;
    margin-right: 8px;
}
.arrows{
    position: relative;
}
.arrows:after,.arrows:before{
    border: 10px solid transparent;
    border-left: 10px solid #fff;
    width: 0;
    height: 0;
    position: absolute;
    top: 0;
    right:0;
    content: ' '
}
.arrows:before {
    border-left-color: #B6B6B6;
    right: -2px;
}
.rightArrows{
    float: right;
    margin-top: 20px;
}

.contents{
    border-top: 1px solid #E4E4E4;
    background: #fff;
    margin-top: 15px;
}
.myProduct{
    width: 100%;
    overflow: hidden;
    background-color: #fff;
    border-bottom: 1px solid #E4E4E4;
}
.mpLeft{
    width: 50%;
    float: left;
    padding-left: 15px;
}
.mpLeft .one{
    height: auto;
    line-height: 1;
    font-size: 12px;
    color: #999;
    margin: 12px 0 6px 0;
}
.mpLeft .two{
    height: auto;
    line-height: 1;
}
.mpright{
    float: left;
    width: 50%;
    padding:  0 15px;
    position: relative;
}
.mpright .a{
    display: inline-block;
    float: right;
    margin-top: 16px;
}
.mpright .withdrawals{
    display: inline-block;
    padding: 6px 12px;
    border-radius: 2px;
    border: 1px solid #ff7701;
    background-color: #fff;
    color:#ff7701 ;
}
.mpright .rechange{
    display: inline-block;
    padding: 6px 12px;
    border-radius: 2px;
    border: 1px solid #ff7701;
    background-color: #ff7701;
    color:#fff ;
    margin-left: 6px;
}
.myProduct P{
    height: 65px;
    line-height: 65px;
}
.mpLeft p{
    font-size: 20px;
    color: #000;
}
.mpright p{
    font-size: 14px;
    color: #888888;
}
.mpright .rightArrows{
    position: absolute;
    height: 100%;
    right: 15px;
    top:2px;
}
.myProduct .mpFont1{
    font-size: 14px;
}
.mpLeft img{
    display: inline-block;
    position: relative;
    top: 18px;
    width: 30px;
    height: 30px;
    float: left;
    margin-right: 10px;
}
.myList{
    width: 50%;
    float: left;
    padding: 0 0 0 15px;
    position: relative;
}
.myList a{
    display:block;
    height: 65px;
}
.myList img{
    float: left;
    margin-top: 16px;
    width: 30px;
}
.myListText{
    float: left;
    height: 65px;
    margin-left: 10px;
}
.myListText p{
    height: 20px;
    margin: 0;
    padding: 0;
}
.listTitle{
    font-size: 14px;
    position: relative;
    top: -10px;
}
.listColor{
    font-size: 12px;
    position: relative;
    top: -10px;
}
.sign{
    font-size: 14px;
    color: #00a6e2;
    float: right;
    position: absolute;
    right: 15px;
}
.remove{
    position:absolute;
    right:0;
    top:0;
    width:0;
    height: 0;
    border-top: 50px solid #dedede;
    border-left: 60px solid transparent
}
.text{
    position: absolute;
    right:0;
    top:3px;
    right: 2px;
    font-size: 12px;
    color:#999
}
.shadow{
    position: fixed;
    width:100%;
    height: 100%;
    background-color: #000;
    opacity: .5;
    filter:alpha(opacity=60);
    z-index: 10;
}
.popWraper{
    width: 100%;
    height: 100%;
    opacity: 1;
    position: fixed;
    z-index: 20;
}
.popContent{
    width: 69.3%;
    border-radius: 7px;
    margin: 0 auto;
    position: relative;
    -webkit-transform: translateY(50%);
    -ms-transform: translateY(50%);
    transform: translateY(50%);
    bottom: 0;
}
.pop1{
    width:100%;
    height: 38%;
    border-radius: 7px 7px 0 0;
}
.pop2{
    width:100%;
    background-color: #fff;
    margin-top: -3px;
    padding-bottom: 12px;
}
.txt1{
    width: 80%;
    margin: 0 auto;
    text-align: center;
    padding-top: 13px;
    border-bottom: 1px solid #ddd;
}
.txt11{
    font-size: 14px;
}
.txt12{
    font-size: 12px;
    margin: 8px 0 15px;
    color: #888;
}
.txt2{
    width: 80%;
    margin: 0 auto;
    text-align: center;
    padding-top: 10px;
}
.txt22{
    font-size: 28px;
    color: #ff7701;
    margin-top: 4px;
}
.pop3{
    width:100%;
    height: 44px;
    line-height: 44px;
    background-color: #a350eb;
    border-radius:0 0 7px 7px;
}
.pop3 p{
    width:80%;
    text-align: center;
    display: block;
    margin: 0 auto;
    color: #fff;
}
.close{
    position: absolute;
    bottom:-50px;
    left:45%;
    width:40px;
    height: 40px;
    z-index: 20;
}
.fridayPopWraper{
    /*display:none;*/
}

