.border {
  border: 1px solid #59c5ec;
  vertical-align: middle;
  font-size: 14px;
  color: #59c5ec;
  padding: 5px 0px;
  text-align: center;
}
.body {
  position: absolute;
  left: 0px;
  top: 0px;
  height: 100%;
  width: 100%;
  padding-top: 44px;
  overflow: auto;
}
.body .listBox {
  padding-left: 15px;
  background-color: #ffffff;
  margin-top: 10px;
}
.body .title {
  padding: 10px 15px 10px 0;
  font-size: 16px;
  border-bottom: 1px solid #e5e5e5;
}
.body .content {
  padding: 10px 15px 10px 0;
  font-size: 12px;
  color: #898989;
}
.body .content p {
  line-height: 25px;
}
.body .content .TableTitle {
  background-color: #59c5ec;
  color: #ffffff;
  font-size: 15px;
  text-align: center;
  padding: 5px 0px;
}
.body .content table {
  width: 100%;
  border-collapse: collapse;
}
.body .content table th {
  border: 1px solid #59c5ec;
  vertical-align: middle;
  font-size: 14px;
  color: #59c5ec;
  padding: 5px 0px;
  text-align: center;
}
.body .content table th:first-child {
  width: 45%;
}
.body .content table td {
  border: 1px solid #59c5ec;
  vertical-align: middle;
  font-size: 14px;
  color: #59c5ec;
  padding: 5px 0px;
  text-align: center;
}
