.close {
  margin: 30px auto 0;
  width: 60px;
  display: block;
}
.msBox {
  padding: 10px 30px 0px 0px;
}
.msBox hr {
  height: 1px;
  border: 0px;
  background-color: #ffffff;
  margin-top: 10px;
}
.msBox p {
  font-size: 18px;
  font-style: italic;
  padding-left: 0;
  line-height: 26px;
  color: #ffffff;
}
.sign {
  position: relative;
  width: 270px;
  box-sizing: border-box;
  border: 8px solid #fff799;
  border-radius: 5px;
  background: #f76260;
  padding-top: 33px;
  padding-left: 35px;
  padding-bottom: 25px;
}
.sign .t {
  width: 80%;
}
.sign .info {
  font-size: 15px;
  color: white;
  line-height: 20px;
}
.sign .info.mt15 {
  margin-top: 12px;
}
.sign .info span {
  font-size: 18px;
  color: #fff799;
}
.sign button {
  margin-top: 20px;
  width: 200px;
  height: 54px;
  border-radius: 5px;
  font-size: 24px;
  color: #1580b3;
  display: block;
  background: #7ECFF5;
  box-shadow: 0 5px 0 #16A1D9;
  border: none;
}
.sign .pen {
  position: absolute;
  bottom: 50px;
  width: 105px;
  right: -30px;
}
