.close{
  margin: 30px auto 0;
  width: 60px;
  display: block;
}

  .fiveDay{
    text-align: center;
    font-size: 14px;
    padding-left: 0;
    line-height: 26px;
    color: #333;
  }
.sign{
  position: relative;
  width: 270px;
  box-sizing: border-box;
  //border: 8px solid #fff799;
  border-radius: 5px;
  background: #fff;
  padding:60px 10px 25px;
  overflow: hidden;
  .qianImg{
    width:100px;
   position: absolute;
    top:-50px;
    left:85px;
    //left:50%;
    //transform: translateX(50%);

  }
  .qianImg2{
    width:100%;
    margin-top: 10px;
  }
  .t{
    width: 80%;
  };
  .info{
    text-align: center;
    font-size: 24px;
    color: #f56c62;
    line-height: 20px;
    &.mt15{
      margin-top: 12px;
    }
  };
  .info2{
    text-align: center;
    font-size: 16px;
    color: #666666;
    line-height: 20px;
    &.mt15{
      margin-top: 12px;
    }
    span{
      font-size: 18px;
      color: #f56c62;
    }
  };
  button{
    margin-top: 20px;
    margin-left: 24px;
    width: 206px;
    height: 46px;
    border-radius: 23px;
    font-size: 20px;
    color: #fff;
    display: block;
    background: #fe684b;
    box-shadow:0 5px 0 #fea999;
    border:none;
  };
  .pen{
    position: absolute;
    bottom: 50px;
    width: 105px;
    right:-30px;
  }
}