.title{
  padding 15px 0px 10px 15px
  font-size 14px
  color #AAAAAA
  span{
    color #f70
  }
}
.planb{
  position absolute
  left 0px
  height 100%
  top 0px
  width 100%
  padding-top 54px
  overflow auto
  .pdTitle{
    padding 0px 0px 10px 15px
  }
}
.xsBox{
    display block
    margin: -3px 15px 2px 15px;
    position relative
  .bg{
    width 100%
  }
    .bj{
      width 36px
      height 36px
      position absolute
      left 15px
      top 50%
      margin-top -20px
    }
}
  .text{
    position absolute
    left 0px
    top 50%
    width 100%
    padding-left 67px
    transform: translate(0px,-50%);
    font-size 14px
    color #f7625f
  }
 .money{
   font-size 20px
 }
 .right{
   display inline-block
   width 27%
   float right
   text-align center
   font-size 13px
   font-weight normal
 }