.bg{
  position absolute
  left 0px
  top 0px
  height 100%
  width 100%
  padding-top 44px
  overflow hidden
}
.body{
  padding 0px 15px
  .title{
    font-size 14px
    color #ffffff
    padding 15px
    line-height 20px
    margin-left -15px
    margin-right -15px
    background-color #00a6e2
  }
  .contentBox{

  }
  .content{
    margin-left -15px
    padding-top 5px
    margin-right -15px
    background-color #F0EFF5
    .listOne{
      padding 15px
      margin-top 10px
      background-color #ffffff
      border-bottom 1px #DDDDDD solid
      border-top 1px #DDDDDD solid
      .titleBox{
        span{
          font-size 14px
          color #666666
          display inline-block
        }
      }
      .titleText{
        font-size 14px
      }
      .proBj{
        margin-left: 3px;
      }
      .proRight{
        float right
      }
      .proBody{
        margin-top 15px
        font-size 14px
        color #666666
        .proTotal{
          color #ff7700
          margin-left 3px
        }
       .proRight{
         float right
       }
      }
    }
  }
  .gex{
    text-align center
    font-size 15px
    color #AAA
    padding-top 20px
    position absolute
    left 0px
    width 100%
    bottom 0px
    padding-bottom 20px
  }
}
