.loginPage {
  w 100%
  h 100%  
  pt 1
}

.logoContainer {
  mt 40
  mb 70
  display block 
  text-align center
}

.logo {
  w 80
  h 75
  display inline-block
}

.forgetWrap {
  mt 25
  ml 15
  mr 15
  display flex
}

.forgetBox {
  flex 1
}

.forget {
  flex 1
  text-align left
  color #888
  fs 16
  display block
}

.reigsterBox {
  flex 1
}

.register {
  flex 1
  text-align right
  fs 16
  color #ff7701
  display block
}

.formWrap {
  margin 0 15px  
}


.passwordInput {
  mt 15 
  bc transparent

  .left {
    ml 0
  }
}

.button {
  margin 30px 15px 0
}