.root {
  height: 44px;
  w 100%
  display: flex;
  background: #00a6e2;
  color: #fff;
  position: fixed;
  top 0;
  z-index:900
}

.left,
.middle,
.right {
  display: flex;
  flex: 12
  align-items: center;
  justify-content: center;
  color #fff
}

.middle {
  flex: 35;
  font-size: 18px
  text-align center
}

.left {
  justify-content: flex-start;
  img {
    ml 15
  }
}
.arrows{
  position: relative
}

.backBefore,.backAfter{
  border: 10px solid transparent;
  border-right: 10px solid #00a6e2;
  width: 0;
  height: 0;
  position: absolute;
  top: 12px;
  left: 4px;
  content: ' ';
}
.backBefore {
   border-right-color: #fff;
   left: 2px;
 }
