.root {
  height: 44px;
  w 100%
  display: flex;
  background: #00a6e2;
  color: #fff;
  position: fixed;
  top 0;
  z-index:900
}

.left,
.middle,
.right {
  display: flex;
  flex: 12
  align-items: center;
  justify-content: center;
  color #fff
}

.middle {
  flex: 35;
  font-size: 18px
}

.left {
  justify-content: flex-start;
  img {
    ml 15
  }
}
