.container {
  display: flex;
  flex-wrap: wrap;
  margin 5px
}

.cell {
  box-sizing: border-box;
  w: 33.33%
  h 100
  display: flex;
  align-items: center;
  justify-content: center;
  border $border
}

.filter {
  margin 10px 15px 0
  h 50
  display: flex;
  input {
    flex: 1
    text-align: center;
    border 1px solid #1976d2
  }
}
