.Radio {
  display flex
  align-items center
  h 42
  border-top 1px solid #eee
  bg #fff
  padding 0 15px
}

.RadioLabel {
  fs 16
  color #000
}

.RadioContent {
  flex 1
  padding 0 10px
}

.RadioImg {
  w 25
  h 25
  margin-right:6px
}

.disableText {
  color #888
}

.contentTextDisable {
  fs 16
  color #888
  text-align right
}

.contentText {
  fs 16
  color #000
  text-align right
}

.contentMark {
  fs 12
  color #888
}