.container {
    display flex
    pt 1
    bg #fff
}

.opeBtnWrap {
    w 37
    h 37
    border 1px solid #e5e5e5
    text-align center
    display block
}

.opeBtn {
    text-align center
    fs 20
    color #888
    line-height 37px
    display inline-block
}

.inputWrap {
    flex 1
    border 1px solid #00a6e2
    ml 10
    mr 10
    h 37
    display flex
}

.input {
    w 100%
    padding 15px 0
    h 18
    fs 18
    text-align center
    flex 1
}