.bg {
  background: #F6F6F9;
  position: absolute;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 100vh;
  z-index: 1;
  overflow: auto;
}
.deTop {
  width: 100%;
  height: 200px;
  background-color: #fe684b;
  margin-top: 44px;
  padding-top: 60px;
}
.deTop .zhuangtai {
  float: left;
  width: 49.5%;
  height: 54px;
  color: #fff;
  text-align: center;
}
.deTop .zhuangtai .txtTop {
  font-size: 12px;
}
.deTop .zhuangtai .txtBtm {
  font-size: 20px;
  line-height: 44px;
}
.deTop .zhongjian {
  float: left;
  width: 0;
  height: 50px;
  border: 1px solid #ffffff;
}
.messsage {
  width: 90%;
  height: 300px;
  background-color: #fff;
  margin: -30px auto 0;
  padding: 30px  0;
}
.messsage .one {
  height: 40px;
  padding: 0 20px;
}
.messsage .one .addImg {
  display: block;
  width: 24px;
}
.messsage .one span {
  float: left;
}
.messsage .one .rightTxt {
  float: right;
}
.messsage .addTxt {
  font-size: 14px;
  color: #666;
  line-height: 26px;
  padding: 0 40px;
}
.messsage .line {
  border: 1px dashed #dedede;
  width: 100%;
  margin: 20px 0;
}
.messsage .two {
  font-size: 14px;
  padding: 0 20px;
  height: 30px;
  line-height: 30px;
}
.messsage .two .order {
  color: #999999;
  float: left;
}
.messsage .two .orderTxt {
  float: right;
}
.messsage .handleImgBox {
  width: 100%;
  background-color: #fff;
  text-align: center;
  padding-bottom: 30px;
}
.messsage .handleImgBox .handleImg {
  width: 40%;
}
.messsage .handleImgBox p {
  height: 28px;
  line-height: 28px;
}
.messsage .cancelBtn {
  width: 60%;
  height: 40px;
  line-height: 40px;
  margin: 20px auto;
  background: #fe684b;
  color: #fff;
  font-size: 16px;
  text-align: center;
}
