.container {
  h 20
  w 20
  border-radius: 100%
  po r
  bg #666
  display: flex;
  justify-content: center;
  align-items: center;
  div {
    po a
    h 50%
    w 1
    bg #fff
    transform: rotateZ(45deg);
    &:nth-child(2) {
      transform: rotateZ(-45deg);
    }
  }
}
