.root {
  position: absolute;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 100%;
  overflow: auto;
  z-index: 1;
}
.backBefore,
.backAfter {
  border: 10px solid transparent;
  border-right: 10px solid #00a6e2;
  width: 0;
  height: 0;
  position: absolute;
  top: 12px;
  left: 4px;
  content: ' ';
}
.backBefore {
  border-right-color: #fff;
  left: 2px;
}
.scroll {
  flex: 1;
  margin-top: 44px;
  overflow-y: scroll;
}
.scroll::-webkit-scrollbar {
  width: 0px;
}
.scroll::-webkit-scrollbar-thumb {
  border-radius: 2px;
  background: #999999;
}
.blueDiv {
  background: #00a6e2;
  padding: 10px 15px 10px 15px;
}
.blueDiv > p {
  color: #fff;
  text-align: center;
}
.blueDiv > p:nth-child(1) {
  font-size: 28px;
}
.blueDiv > p:nth-child(2) {
  font-size: 12px;
  margin-top: 8px;
}
.blueDiv .detailinfo {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-top: 20px;
}
.blueDiv .detailinfo > span {
  width: 70px;
  color: #fff;
  font-size: 14px;
}
.blueDiv .detailinfo > span:nth-child(2) {
  margin-left: 20px;
}
.blueDiv .detailinfo > span:nth-child(3) {
  text-align: right;
}
.blueDiv .detailinfoText {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 10px 0px 0px 0;
}
.blueDiv .detailinfoText > span {
  width: 70px;
  color: #fff;
  font-size: 12px;
}
.blueDiv .detailinfoText > span:nth-child(2) {
  margin-left: 20px;
}
.blueDiv .detailinfoText > span:nth-child(3) {
  text-align: right;
}
.suBox {
  padding: 10px 0 10px 15px;
  background-color: #ffffff;
  margin-top: 10px;
  font-size: 16px;
}
.suBox .suJt {
  width: 10px;
  height: 20px;
  float: right;
  margin-top: -2px;
}
.timeBox {
  margin-top: 10px;
  padding-left: 15px;
}
.cutDiv {
  height: 10px;
  width: 100%;
  background: #F0EFF5;
}
.borrowInfo {
  background: #F0EFF5;
}
.borrowInfo > div:nth-child(1) {
  padding: 10px 15px 15px 15px;
  height: 65px;
  border-bottom: 1px solid #ddd;
}
.borrowInfo > div:nth-child(1) > p {
  height: 20px;
  line-height: 20px;
  font-size: 12px;
  color: #aaa;
  display: flex;
  justify-content: space-between;
}
.borrowInfo > div:nth-child(1) > p > span:nth-child(2) {
  color: #626262;
}
.borrowInfo > div:nth-child(2) {
  margin: 10px 15px 10px 15px;
  height: 14px;
  display: flex;
  font-size: 14px;
  color: #c7c7c7;
  flex-direction: row;
}
.borrowInfo > div:nth-child(2) p {
  flex: 1;
}
.borrowInfo > div:nth-child(2) p:nth-child(1) {
  color: #00a6e2;
}
.borrowInfo > div:nth-child(2) p:nth-child(2) {
  text-align: center;
}
.borrowInfo > div:nth-child(2) p:nth-child(3) {
  text-align: right;
}
.cutline {
  margin-left: 15px;
  height: 0px;
  border-bottom: 1px solid #ddd;
}
.clickType {
  height: 40px;
  display: flex;
  border-bottom: 1px solid #ddd;
}
.clickType > div {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #fff;
  border-bottom: 3px solid transparent;
}
.clickType > div > p {
  font-size: 16px;
  color: #000;
}
.clickType div:nth-child(1) {
  border-bottom-color: #00a6e2;
}
.clickType div:nth-child(1) > p {
  color: #00a6e2;
}
.borrowMan {
  background: #fff;
}
.borrowMan > div:not( :nth-child(3)) {
  margin: 0px 15px 0px 15px;
  border-bottom: 1px solid #ddd;
}
.borrowMan > div:not( :nth-child(3)) > h4 {
  padding: 10px 0px 10px 0px;
}
.borrowMan > div:not( :nth-child(3)) > div {
  margin-bottom: 10px;
  font-size: 12px;
  line-height: 16px;
  color: #999;
}
.borrowMan > div:nth-child(3) {
  margin: 0px 15px 0px 15px;
  border-bottom: 1px solid #ddd;
}
.borrowMan > div:nth-child(3) > h4 {
  margin: 10px 0px 0px 0px;
}
.borrowMan > div:nth-child(3) > div {
  display: flex;
  flex-direction: row;
}
.borrowMan > div:nth-child(3) > div > div {
  flex: 1;
  margin-bottom: 10px;
}
.borrowMan > div:nth-child(3) > div > div > div {
  margin-top: 10px;
}
.borrowMan > div:nth-child(3) > div > div > div > span {
  color: #999;
  font-size: 12px;
}
.borrowMan > div:nth-child(3) > div > div > div > img {
  width: 12px;
  height: 12px;
  margin: 0px 0px 0px 5px;
}
.commonQusetion {
  background: #fff;
}
.commonQusetion > div {
  padding: 15px 15px 15px 15px;
  border-bottom: 1px solid #ddd;
}
.commonQusetion > div > p:nth-child(1) {
  font-size: 16px;
  color: #000;
  line-height: 20px;
}
.commonQusetion > div > p:nth-child(2) {
  font-size: 12px;
  color: #999;
  margin-top: 10px;
  line-height: 16px;
}
.bottom {
  position: fixed;
  left: 0px;
  right: 0px;
  bottom: 0px;
  height: 50px;
  display: flex;
}
.bottom .calculator {
  width: 50px;
  background-color: #59c5ec;
  display: flex;
  justify-content: center;
  align-items: center;
}
.bottom .calculator::before {
  height: 70%;
  width: 50%;
  content: '';
  background: url('../../../../assets/images/calculator.png') center no-repeat;
  background-size: contain;
}
.bottom button {
  flex: 1;
  font-size: 18px;
  color: #fff;
  background-color: #00a6e2;
  border: 0px;
}
.modalStyle {
  position: fixed;
  z-index: 999;
}
.modalBody {
  position: absolute;
  bottom: 0px;
  padding-bottom: 30px;
  height: auto;
}
.takePlace {
  height: 50px;
}
.buyButton {
  position: fixed;
  bottom: 0px;
  height: 50px;
  width: 100%;
  color: #fff;
  background: #00a6e2;
  display: flex;
}
.buyButton div:nth-child(1) {
  background: #258;
  width: 50px;
}
.buyButton div:nth-child(2) {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}
.buyButton div:nth-child(2) p {
  font-size: 18;
}
