.button {
	h 40
	display flex
	align-items center
	bg #00a7e1
  border 1px solid #008bbc
  br 5
  text-align center

  .text {
    flex 1
    color #fff
    fs 18
    text-align center
  }

  &.buttonDisable {
    bg #45c4f0
    bc #09ace7

    .text {
      color #87dfff 
    }
  }
}

.buttonWhite {
  bc #c6c6c6
  bg #f7f7f7

  .text {
    color #454545
  }

  &.buttonDisable {
    bc #c6c6c6
    bg #f7f7f7

    .text {
      color #c9c9c9 
    }
  }
}
