.bg{
  background: #f0eff5;
}
.items_bg{
  background: #f0eff5;
  height: 100%;
  width: 100%;
  position: fixed;
}
.show{
  display: inline-block;
}
.hide{
  display: none!important;
}
.changeUserName{
  margin-top: 15px;
  margin-bottom: 20px;
  position: relative;
}
.changeUserName img{
  position: absolute;
  top: 0;
  right: 0px;
  width: 20px;
  padding: 13px;
}
.changeUserName input{
  width: 100%;
  display: block;
  height: 44px;
  color: #000000;
  font-size: 16px;
  line-height: 43px;
  -webkit-border-radius: 0;
  border-radius: 0;
  -webkit-box-flex: 1;
  -webkit-flex: 1 220px;
  -moz-box-flex: 1;
  flex: 1 220px;
  -webkit-appearance: none;
  -moz-appearance: none;
  margin: 0;
  background-color: white;
  box-shadow: none;
  border:none;
  padding-left: 15px;
}
.sureButton{
  width: 100%;
  padding: 0 10px;
}
.sureButton button{
  display: inline-block;
  color: white;
  background: #00a6e2;
  height: 44px;
  border-width: 1px;
  border-style: solid;
  border-radius: 4px;
  width: 100%;
}
.sureButton button[disabled]{
  opacity: 0.4;
  border-color: #09ace7;
}