.bg{
  background:#fff;
  width: 100%;
  height: 100vh;
  position: absolute;
  left: 0;
  top: 0;
}
.remindTxt{
  background-color: #fbede2;
  color: #ff7300;
  width:100%;
  height: 44px;
  line-height: 44px;
  padding-left: 30px;
  border-top:1px solid #ff7300;
  border-bottom:1px solid #ff7300;
  position: fixed;
  top:44px;
  left:0;
  z-index: 101;
}
.questionWraper{
  margin-top: 50px;
  padding:0 20px 70px;
}
.none{
  display: none;
}
.startBtn{
  width:100%;
  position: absolute;
  bottom: 0;
  left:0;
  background-color: #00a6e2;
  color:#fff;
  height:50px;
  line-height: 50px;
  font-size: 16px;
  text-align: center;
}
.popWraper{

}
.shadow{
  position: fixed;
  width:100%;
  height: 100%;
  background-color: #000;
  opacity: .5;
  filter:alpha(opacity=60);
  z-index: 101;
}
.contentWraper{
  width: 100%;
  height: 100%;
  opacity: 1;
  position: fixed;
  z-index: 102;
}
.content{
  width: 85%;
  background-color: #fff;
  border-radius: 8px;
  overflow: hidden;
  margin: 0 auto;
  position: relative;
  -webkit-transform: translateY(25%);
  -ms-transform: translateY(25%);
  transform: translateY(25%);
  bottom: 0;
  padding-bottom: 40px;
}
.title{
  width:100%;
  height:100px;
  background: url("../../../../assets/images/bg_tit.png");
  background-size: 100% 100%;
  text-align: center;
}
.titleTxt{
  font-size: 20px;
  padding-top: 20px;
}
.typeTxt{
  font-size: 24px;
  padding-top: 15px;
}
.contentTxt{
  font-size: 14px;
  width:90%;
  margin: 0 auto;
}
.contentTxt p{
  margin-top: 20px;
  line-height: 20px;
}
.goInvestBtn{
  width:240px;
  margin: 0 auto;
  margin-top: 30px;
  height:40px;
  line-height: 40px;
  border-radius: 4px;
  background-color: #00a4e0;
  font-size: 20px;
  color:#fff;
  text-align: center;
}
.restartTxt{
  margin-top: 15px;
  font-size: 14px;
  text-align: center;
}
.restart{
  color:#00a4e0;
  text-decoration: underline;
}
.closeBtn{
  width:100%;
  text-align: center;

}
.close{
  width:50px;
  margin-top: 115px;
}