.Accordion {
  .titleBar {
    border-width 1px 0 0 0
    border-style solid
    bc #ddd
    h 44
    bg #fff
    pl 15
    pr 16
    display flex
    align-items center
  }

  .titleText {
    fs 14
    color #000
    flex 1
    display block
  }

  .turnIcon {
    w 14
    h 14
    display inline-block
  }

  .line {
    bg #ddd
    h 1
    ml 15
  }

  .lineIndent {
    h 0
  }

  .content {
    padding 15px
    bg #fff
  }

  .contentText {
    color #aaa
    fs 12
  }
}